@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  background-color: #202020;
  font-family: "Play", "Roboto", sans-serif;
  /* min-height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  color: #e23636 !important;
  background-color: #202020;
  padding-top: 25px;
  height: 100%;
}

.navbar {
  background-color: #202020 !important; 
  border-bottom: 3px solid #e23636;
  font-family: "Bangers", system-ui;
  letter-spacing: 1.3px;
  padding: 15px;
  margin-bottom: 30px;
  z-index: 77;
}

.nav-item {
  padding-left: 10px !important;
}

/* #create-your-sh {
  text-shadow: 2px 2px 2px rgba(147, 147, 147, 0.376);
} */

.navbar-brand, .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  padding-right: 5px;
  padding-left: 5px;
}

.nav-link:hover, .navbar-brand:hover {
  color: #202020 !important;
  background-color: #FFDE21;
}

.nav-link {
  color: #e23636 !important;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link.active {
  background-color: #e23636;
  color: #202020 !important;
  border-bottom: 2px solid #e23636;
  box-shadow: 0 4px 15px rgba(226, 54, 54, 0.6);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(226, 54, 54, 0.6);
  color: #ededed !important;
}

.navbar-toggler:hover {
  background-color: #979797; /* Change background color on hover */
}

h1 {
  font-family: "Bangers", system-ui;
  color: #FFDE21;
  font-size: 70px !important;
  margin-top: 1rem;
  padding-bottom: 3rem;
  transition: opacity 10s ease-in-out;
}

.home-title, .new-super-title {
  margin-top: 50px;
}

#marvel-superhero-card, #new-superhero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: auto;
  border-radius: 17px;
  border: 2px solid white;
  box-shadow: 2px 4px 8px rgba(147, 147, 147, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #1c1c1c14;
  color: #e23636;
  font-family: "Bangers", system-ui;
  letter-spacing: 2px;
  cursor: pointer;
}

#new-superhero-card, .character-list {
  margin-right: 25px;
  margin-left: 25px;
}

#marvel-superhero-card img, #new-superhero-card img {
  max-height: 200px; 
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-top: 0;
}

#marvel-superhero-card:hover, #new-superhero-card:hover  {
  transform: scale(1.05);
  box-shadow: 4px 8px 16px rgba(220, 220, 220, 0.391);
}

#superhero-details {
  background-color: #202020;
  color: rgb(217, 217, 217);
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#superhero-details img {
  width: 100%;
  max-width: 500px;
  border-radius: 25px !important;
  box-shadow: 4px 8px 24px #ffde217e;
}

#superhero-details h2 {
  color: #ffde21;
  padding: 25px;
  font-size: 2.5rem;
  font-family: "Bangers", system-ui;
}

#superhero-details p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Play", sans-serif;
}

#edit-button, #form-button, #delete-button {
  font-family: "Bangers", system-ui;
  font-size: 21px;
  letter-spacing: 2px;

  min-width: 150px;
  border: solid 2px white;

  box-shadow: 4px 4px 15px rgba(254, 254, 254, 0.373);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 50px !important;
}

#edit-button, #form-button {
  background-color: #e23636;
  color: white;
}

#edit-button:hover, #edit-button:active, #form-button:hover, #form-button:active   {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(255, 222, 33, 0.549);
  background-color: #FFDE21;
  color:#202020;
  transform: scale(0.98);
}

#delete-button {
  background-color: #dadada2a;
  color: white;
}

#delete-button:hover, #delete-button:active {
  background-color: #dadadacc;
  color: #e23636;
  transform: scale(0.98);
}

.loader-container {
  padding-top: 50px;
}

form {
  background-color: #1c1c1c14;
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Bangers", sans-serif;
  color: #e23636;
}

form h1 {
  color: #FFDE21;
  font-size: 36px;
  margin-bottom: 20px;
}

form h3 {
  font-size: 24px;
  letter-spacing: 4px;
  color: #FFDE21;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Play", sans-serif;
  background-color: #d3d3d3;
  color: #303030;
}

.footer {
  background-color: #202020;
  border-top: 3px solid #e23636;
  font-family: "Bangers", system-ui;
  letter-spacing: 1.2px;
  display: block;
  margin-bottom: 0;
  margin-top: auto;
  padding: 25px !important;
}

.footer a {
  text-decoration: none;
  color: #e23636 !important;
  transition: color 0.2s ease-in-out;
}

.footer a:hover {
  color: #FFDE21 !important;
}

@media (max-width: 768px) {

  h1 {
    font-size: 50px !important;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding: 0.2;
  }

  h2 {
    font-size: 35px !important;
  }

  #superhero-details p {
    font-size: 1rem;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler.collapsed + .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 2rem;
  }

  .search-bar {
    width: 80% !important;
  }
  
  #marvel-superhero-card {
    margin: 1rem;
  }

  #new-superhero-card, .character-list {
    margin: 1rem;
  }
}

