@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #202020;
  --font-text: "Roboto", sans-serif;
  --font-heading: "Anton", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  color: #e23636 !important;
  background-color: #202020;
}

.navbar {
  background-color: #202020 !important; 
  border-bottom: 3px solid #e23636;
  font-family: "Bangers", system-ui;
  letter-spacing: 2px;
  padding: 10px;
}

/* .navbar-brand, .nav-link {
  color: #e23636 !important; 
} */

.nav-link.active {
  border-bottom: 2px solid #e23636;
}

h1 {
  font-family: "Bangers", system-ui;
  color: #FFDE21;
  font-size: 70px !important;
  padding: 2.4rem;
  transition: opacity 10s ease-in-out;
}


@keyframes fadeInOut {
  50%, 100% { opacity: 5; }
  50% { opacity: 10; }
}

h1 {
  animation: fadeInOut 10s linear infinite;
}

#marvel-superhero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: auto;
  border-radius: 17px;
  box-shadow: 2px 4px 8px rgba(147, 147, 147, 0.15);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #1c1c1c14;
  color: #e23636;
  font-family: "Bangers", system-ui;
  letter-spacing: 2px;
}

#marvel-superhero-card img {
  max-height: 200px; 
  width: 100%;
  border-radius: 17px;
  margin-top: 0;
}

#marvel-superhero-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 8px 16px rgba(220, 220, 220, 0.391);
  /* text-shadow: 4px 8px 16px rgba(249, 255, 185, 0.244); */
}

#superhero-details {
  background-color: #202020;
  color: rgb(217, 217, 217);
}

#superhero-details img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 4px 8px 24px #ffde217e;
}

#superhero-details h2 {
  color: #e23636;
  padding: 25px;
  font-size: 2.5rem;
  font-family: "Bangers", system-ui;
}

#superhero-details p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Play", sans-serif;
}


@media (max-width: 768px) {

  h1 {
    font-size: 30px !important;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding: 0.2;
  }

  h2 {
    font-size: 35px !important;
  }

  #superhero-details p {
    font-size: 1rem;
  }

  .navbar-toggler {
    display: block;
  }

  /* .navbar-nav {
    display: none;
  } */

  .navbar-toggler.collapsed + .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar {
    padding: 10px;
  }
  
  #marvel-superhero-card {
    margin: 1rem;
  }
}

